nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.youtube-logo {
    margin-left: 15px;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: auto;
}
input[type="text"] {
    margin-left: -30px;
    margin-top: 12px;
    width: 500px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid rgb(164, 163, 163);
}
.search ::placeholder {
    position: center;
    font-size: 14px;
}
.search-button {
    margin-right: 400px;
    margin-top: 12px;
    border: solid white;
}