nav, main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.youtube-logo {
    margin-left: 15px;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: auto;
}
input[type="text"] {
    margin-right: 370px;
    margin-top: 12px;
    width: 500px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid rgb(164, 163, 163);
}
.search ::placeholder {
    position: center;
    font-size: 14px;
}
.search-button {
    margin-left: 940px;
    margin-top: 12px;
    border: solid white;
    position: fixed;
}
.voice-search {
    margin-top: 12px;
    position: right;
    margin-left: 1005px;
    position: fixed;
}
.video-upload-logo {
    margin-top: 12px;
    margin-right: 28px;
}
.notification {
    margin-top: 12px;
    margin-right: 28px; 
}
.avatar {
    margin-top: 12px;
    margin-right: 28px;
}